.fighter-preview___root {
  display: flex;
  /*flex-direction: column;*/
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
  height: 250px;
}

.fighter-preview___left {
  align-items: flex-start;
  height: 250px;
}

.fighter-preview___right img {
  transform: scaleX(-1);
}

.fighter-preview__info {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-family: 'Arial Black';
  margin: auto;
  font-weight: 800;
}
